{% extends 'navbar.html' %}

 {% load static %}
 {% load crispy_forms_tags %}


{% block content %}


<div style="text-align: center; padding-bottom: 305px; padding-top: 50px;">

<h1>Login</h1>
<br>

<form method="post" class="form-group" style="width: 25%; display: inline-block;">
	{% csrf_token %}

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>


	<button type="submit" class="btn btn-success">Login</button>
</form>
	<p>Don't have an account? Create one <a href="/register">here</a></p>

</div>

    <script src="{% static 'login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'login/js/popper.min.js' %}"></script>
    <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'login/js/main.js' %}"></script>

{% endblock %}
