{% extends "navbar.html" %}

{% block head %}
    <head>
        {{ block.super }}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awe   some.min.css">
        <style>
        /* Custom CS to make the radio buttons teal (Boostrap Info Color) */
        .custom-radio .custom-control-input:checked~.custom-control-label::before,
        .custom-radio .custom-control-input:checked~.custom-control-label::after {
            background-color: #17a2b8 ;
            background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
            border-radius: 50%;
        }
        </style>
    </head>
{% endblock %}

{% block content %}
    <body>
    <div class="container h-100" style="padding-top:100px;">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-7 text-center">
                <div class="card mt-4 border-info">
                  <div class="card-body">
                    <h3 class="card-title text-center">Mortgage Application Information</h3>
                    <form action="{% url 'application' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group text-left">
                            <label for="name_field">Name</label>
                            <input type="text" name="search_name" class="form-control" placeholder="John Doe">
                        </div>
                        <div class="form-group text-left">
                            <label for="county_field">County</label>
                            <select class="custom-select" multiple name="search_county">
                                {% for county in county_codes%}
                                <option>{{county}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group text-left">
                            <label for="income_field">Current Income</label>
                            <input type="text" name="search_income" class="form-control" placeholder="">
                        </div>
                        <div class="form-group text-left">
                            <label for="loan_amount_field">Desired Loan amount</label>
                            <input type="text" name="search_loan" class="form-control" placeholder="">
                        </div>
                        <div class="form-group text-left">
                            <label for="degree_field">Education Level</label>
                            <select class="custom-select" multiple name="search_deg_lev">
                                <option>No education</option>
                                <option>Highschool Diploma/GED</option>
                                <option>Associate's Degree</option>
                                <option>Bachelor's Degree</option>
                                <option>Master's Degree</option>
                                <option>Doctoral Degree</option>
                            </select>
                        </div>
                        <div class="form-group text-left">
                            <label for="race_field">Race</label>
                            <select class="custom-select" multiple name="search_race_lev">
                                <option>White</option>
                                <option>African American</option>
                                <option>Asian</option>
                                <option>Native American/Alaskan Native</option>
                                <option>Hawaiin/Pacific Islander</option>
                                <option>Prefer not to say</option>
                            </select>
                        </div>
                        <div class="form-group text-left">
                            <label for="gender_field">Gender</label>
                            <select class="custom-select" multiple name="search_gender_lev">
                                <option>Man</option>
                                <option>Woman</option>
                                <option>Prefer not to say</option>
                            </select>
                        </div>
                        <div class="row justify-content-center mt-3">
                            <input type="submit" class="btn btn-info" value="Submit">
                            <input type="button" class="btn btn-info ml-2" value="Clear" onClick="this.form.reset()" />
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}