{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <h1>
        <br>
        <a href="{% url 'home' %}"><img src="{% static 'logos/blue-green.png' %}" width="200px" height="100px"></a>
        <br>
        <br>
        Sign Up
        {% for message in messages %}
        <div class="alert aler-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message:</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </div>
        {% endfor %}
    </h1>
    
    <fieldset>
      <legend><span class="number">1</span>About You</legend>
      <label for="fname">First Name:</label>
      <input type="text" id="name" name="user_fname">
      <label for="lname">Last Name:</label>
      <input type="text" id="name" name="user_lname">
      <label for="uname">Username:</label>
      <input type="text" id="name" name="uname">


      <label for="mail">Email:</label>
      <input type="email" id="mail" name="user_email">
      <label for="mail2">Confirm Email:</label>
      <input type="email" id="mail" name="user_email1">
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="user_password">
      <label for="password2">Confrim Password:</label>
      <input type="password" id="password" name="user_password1">
      
      <label for="zipcode">Zipcode:</label>
      <input type="text" id="name" name="zipcode">
      <label for="phone">Phone#:</label>
      <input type="text" id="name" name="phone">
    </fieldset>
    
   
    <button type="submit">Sign Up</button>
  </form>
  
</body>
</html>