{% extends 'navbar.html' %}
 {% load static %}
 {% load crispy_forms_tags %}


{% block content %}


 <div style="text-align: center; padding-top: 175px;">
   <h1>Sign Up</h1>
   <br>

<p>Sign Up Successful!</p>

 </div>

     <script src="{% static 'login/js/jquery-3.3.1.min.js' %}"></script>
     <script src="{% static 'login/js/popper.min.js' %}"></script>
     <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'login/js/main.js' %}"></script>

{% endblock %}
